* {
	padding: 0;
	margin: 0;
}
nav {
	width: 100%
	height: 30px;
	background-color:blue;
	position: relative;
	vertical-align: left;
}
header {
	width: 100%;
    height: 100px;
    background-color: yellow;
}
section {
	width: 100%;
	background-color:green;
}
footer {
	width: 100%;
    height: 100px;
    background-color: red;
    position: fixed;
    bottom: 0;
}
aside {
	background-color: pink;
	vertical-align: right;
}
#info {
	width:70%;
	float:left;
	background-color: blue;
}
#ads {
	width: 30%;
	height: 100px;
	float: right;
	background-color: red;
}