* {
	padding: 0;
	margin: 0;
	font-family: verdana, arial;
}
nav {
	height: 30px;
	bottom: 0;
}
ul {
	padding:0;
	margin: 0 20px 0 0;
	display:inline;
}
header {
	width: 100%;
	height: 150px;
}
section#post {
	width: 75%;
	float: left;
}
section#sidebar {
	width: 25%;
	float: right;
}
footer {
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	text-align: right;
	font-style: italic;
}
aside {
	float: right;
	width: 35%;
	margin-left: 5%;
	font-size: 20px;
	line-height: 40px;
}
#login {
	width:40%;
	float: right;
	margin: 5px auto;
	border: solid;
	border-width: 2px;
	border-color: grey;
}
#info {
	width:70%;
	float:left;
	margin: 5px auto;
}
#adsup1 {
	width: 50%;
	height: 60px;
	float: left;
	font-size: 9px;
	margin: 5px auto;
}
#adsup2 {
	width: 50%;
	height: 60px;
	float: right;
	font-size: 9px;
	margin: 5px auto;
}
#adlat1 {
	position: relative;
	margin: 5px auto;
}
#adlat2 {
	position: relative;
	margin: 5px auto;
}
#adlat3 {
	position: relative;
	margin: 5px auto;
}
img#advert{
	width: 100%
}